In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("C:\\Users\\ELIJAH ONYANGO\\Downloads\\shopping_trends.csv")

In [5]:
data

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

# 1.WHAT IS THE SIZE OF THE DATA SET

## first convert the data into a data frame

In [11]:
df=pd.DataFrame(data)

### to check for rows and columns and rows asked we use .shape method

In [14]:
df.shape

(3900, 19)

### The first value is the observations while the secon is the features

#### so we have 3900 observations and 19 features

# 2.WHAT ARE THE MAIN FEATURES OF THE DATA SET?

### here we are required to calculate the number of columns in the data set, to do that we use .columns method to get the features

In [26]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Payment Method',
       'Shipping Type', 'Discount Applied', 'Promo Code Used',
       'Previous Purchases', 'Preferred Payment Method',
       'Frequency of Purchases'],
      dtype='object')

# 3.HOW TO CALCULATE THE NUMBER OF CUSTOMERS IN THE DATA SET

####  a)here we are going to calculate number of unique() customers in the data set

In [33]:
df['Customer ID'].nunique()

3900

#### alternatively

In [39]:
len(df)

3900

# 4.CALCULATE THE TOTAL NUMBER OF TRANSACTIONS

### here we calculate the length of the data set

In [42]:
len(df)

3900

# 5.AVERAGE PURCHASE AMOUNT

#### THIS IS THE TOTAL PURCHASE AMOUNT DIVIDED BY THE TOTAL TRANSACTIONS

In [53]:
average_purchase=df["Purchase Amount (USD)"].sum()/len(df)

#### alternatively we use . mean method

In [57]:
mean_purchase=df["Purchase Amount (USD)"].mean()

In [59]:
mean_purchase

59.76435897435898

# 6.WHAT IS THE MINIMUM AND MAXIMUM PURCHASE AMOUNT

#### HERE WE ARE REQUIRED TO FIND THE MINIMUM AND MAXIMUM AMOUNT THAT IS PURCHASED BY THE CUSTOMERS WE USE .min() and .max()

In [63]:
min_purchase=df["Purchase Amount (USD)"].min()

In [65]:
min_purchase

20

In [69]:
max_purchase=df["Purchase Amount (USD)"].max()

In [71]:
max_purchase

100

#### alternativerly we can sort the  data set

In [76]:
sorted_min_value=df["Purchase Amount (USD)"].sort_values().head()

In [78]:
sorted_min_value

2696    20
3653    20
3083    20
2652    20
1795    20
Name: Purchase Amount (USD), dtype: int64

In [80]:
sorted_max_value=df["Purchase Amount (USD)"].sort_values().tail()
sorted_max_value

243     100
248     100
3265    100
581     100
2285    100
Name: Purchase Amount (USD), dtype: int64

#### the above is how we can get range of min and max purchased

# 7.WHAT ARE THE UNIQUE CATEGORIES OF ITEMS PURCHASED?

In [86]:
df['Item Purchased'].unique()

array(['Blouse', 'Sweater', 'Jeans', 'Sandals', 'Sneakers', 'Shirt',
       'Shorts', 'Coat', 'Handbag', 'Shoes', 'Dress', 'Skirt',
       'Sunglasses', 'Pants', 'Jacket', 'Hoodie', 'Jewelry', 'T-shirt',
       'Scarf', 'Hat', 'Socks', 'Backpack', 'Belt', 'Boots', 'Gloves'],
      dtype=object)

# 8.HOW MANY PRODUCTS ARE PURCHASED IN EACH CATEGORY?

#### This is how to get the number of products purchased based on value_counts

In [106]:
category_purchased=df['Category'].value_counts()
category_purchased

Category
Clothing       1737
Accessories    1240
Footwear        599
Outerwear       324
Name: count, dtype: int64

# 9.WHAT IS THE MOST FREQUENTLY PURCHASED ITEM?

### this is how we can solve this

## alternatively

In [152]:
df['Item Purchased'].mode()[0]
# this is usually sed whe we have multiple items in the same frequency

'Blouse'

Most Frequently Purchased Item:
 Item Purchased
Jewelry    4943
Name: Previous Purchases, dtype: int64

# 10.WHAT IS THE LIST FREQUENTLY PURCHASED ITEM?

In [169]:
least_frequent=df['Item Purchased'].value_counts().idxmin()

In [171]:
least_frequent

'Jeans'

# 11 how many unique locations are present in the data

#### this is how we calculate number of unique location in the data set .unique()

In [181]:
number_unique _locations=df["Location"].nunique()

50

# 12 .WHICH LOCATION HAS HIGHEST NUMBER OF TRANSACTIONS?

In [190]:
highest_location_trans=df["Location"].mode()[0]
highest_location_trans

'Montana'

### alternatively

In [195]:
highest_loc_trans=df['Location'].value_counts().idxmax()
highest_loc_trans

'Montana'

### all the above methods are useful in the context of identifying value counts of any items